* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.container {
  margin: 20px auto;
  max-width: 1000px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

hr {
  border: 1px solid #eee;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #27aae1;
  color: white;
  border-radius: 10px 10px 0 0;
}

.game-info .category {
  flex: 1;
  text-align: right;
}

.game-info .category span {
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}

.game-info .game-name {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.hangman-draw {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  height: 324px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
}

.hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
  left: -55px;
  display: none;
}

.hangman-draw .the-stand::before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #222;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  display: none;
}

.hangman-draw .the-hang {
  display: none;
}
.hangman-draw .the-hang::before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #222;
  width: 100px;
  left: 30px;
  top: 15px;
}

.hangman-draw .the-hang::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 30px;
  background-color: #222;
  left: 130px;
  top: 15px;
}

.hangman-draw .the-rope {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  left: 95px;
  top: 45px;
  border: 4px dashed #222;
  display: none;
}

.hangman-draw .the-man .head {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #222;
  left: 105px;
  top: 55px;
  display: none;
}

.hangman-draw .the-man .body {
  position: absolute;
  background-color: #222;
  width: 4px;
  height: 110px;
  top: 102px;
  left: 130px;
  display: none;
}

.hangman-draw .the-man .hands {
  display: none;
}

.hangman-draw .the-man .hands::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #222;
  left: 85px;
  top: 130px;
  transform: rotate(30deg);
}

.hangman-draw .the-man .hands::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #222;
  top: 130px;
  left: 130px;
  transform: rotate(-30deg);
}

.hangman-draw .the-man .legs {
  display: none;
}
.hangman-draw .the-man .legs::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #222;
  left: 85px;
  top: 220px;
  transform: rotate(-30deg);
}

.hangman-draw .the-man .legs::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #222;
  top: 220px;
  left: 130px;
  transform: rotate(30deg);
}

.hangman-draw.wrong-1 .the-draw {
  display: block;
}
.hangman-draw.wrong-2 .the-stand::before {
  display: block;
}
.hangman-draw.wrong-3 .the-hang {
  display: block;
}
.hangman-draw.wrong-4 .the-rope {
  display: block;
}
.hangman-draw.wrong-5 .head {
  display: block;
}
.hangman-draw.wrong-6 .body {
  display: block;
}
.hangman-draw.wrong-7 .hands {
  display: block;
}
.hangman-draw.wrong-8 .legs {
  display: block;
}

.letters {
  flex: 1;
  text-align: center;
}

.letters.finished {
  pointer-events: none;
}

.letters .letter-box {
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: #27aae1;
  color: white;
  font-size: 24px;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.letters .letter-box.clicked {
  background-color: #222;
  opacity: 0.2;
  pointer-events: none;
}

.letter-guess {
  margin: 10px auto;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 104px;
}

.letter-guess span {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdfdfd;
  border-bottom: 3px solid #222;
  transition: 0.3s;
}

.letter-guess span.has-space {
  background: none;
  border-bottom: none;
  position: relative;
}
.letter-guess span.has-space::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #222;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #27aae1e8;
  padding: 100px 20px;
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: bolder;
  border: 1px solid #ccc;
  border-radius: 125px;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.popup button {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%);
  border: none;
  background: white;
  padding: 10px;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  font-weight: bold;
  transition: background 0.3s;
}

.popup button:hover {
  cursor: pointer;
  background: #ccc;
}
